body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #dff7e3; /* verde pastel */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cadastro-container {
    background: #ffffff;
    width: 420px;
    padding: 40px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.title {
    color: #3f8d55;
    font-size: 30px;
    margin-bottom: 8px;
}

.subtitle {
    color: #6fba7c;
    margin-bottom: 25px;
}

.form-box {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin-bottom: 5px;
    color: #2f6d38;
    font-weight: 500;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #a8e6b3;
    margin-bottom: 18px;
    outline: none;
    font-size: 14px;
}

input:focus {
    border-color: #6fba7c;
}

.btn-cadastrar {
    padding: 12px;
    background: #6fba7c;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-cadastrar:hover {
    background: #3f8d55;
}

.login-text {
    text-align: center;
    margin-top: 15px;
    color: #2f6d38;
}

.login-text a {
    color: #3f8d55;
    font-weight: bold;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}